<div id='clientinfo'>
    
    {{!-- Be van lepve/ ha igen ki a felhasznalo --}}
    {{#if hibas}}
        <script>
            alert("error")
        </script>>
    {{/if}}
    {{#if loggedin}}
        <table>
            <tr>
                <th>
                    Username: {{username}}
                </th>
                <th>    
                    <form action='/sign_out' method='post'>
                        <input type='submit' value='Sign out'>
                    </form>
                </th>
            </tr>
        </table>
    {{else}}
        <table>
            <tr>
                <th>
                    <form action='/sign_in_page' method='get'>
                    <input type='submit' value='Sign in'>
                    </form>
                </th>
                <th>    
                    <form action='/registration_page' method='get'>
                        <input type='submit' value='Register'>
                    </form>
                </th>
            </tr>
        </table>
        
    {{/if}}
</div>